<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">


<!--    페이지 오류나서 추가해 줬음-->
<!--    org.apache.jasper.JasperException: TagLibraryValidator 클래스 [org.apache.taglibs.standard.tlv.JstlCoreTLV]을(를) 로드하거나 인스턴스를 생성하지 못했습니다.-->
    <jsp-config>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
            <taglib-location>/WEB-INF/lib/jstl-1.2.jar</taglib-location>
        </taglib>
    </jsp-config>


    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>com.example.publicwifi.controller.HomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>history</servlet-name>
        <servlet-class>com.example.publicwifi.controller.HistoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>history</servlet-name>
        <url-pattern>/history</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>load_wifi</servlet-name>
        <servlet-class>com.example.publicwifi.controller.WifiInfoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>load_wifi</servlet-name>
        <url-pattern>/load_wifi</url-pattern>
    </servlet-mapping>


</web-app>

